@page
@model ListModel
@{
    ViewData["Title"] = "List Images From File";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>
    <a href="~/list?list=@(ViewData["list"])&root=@(ViewData["root"])&page=@(ViewData["page"])&pagesize=@(ViewData["pagesize"])">
    root: @(ViewData["root"]) <br/>
    list: @(ViewData["list"]) <br/>
    page: @(ViewData["page"]) <br/>
    pagesize: @(ViewData["pagesize"])</a>
    </p>

    <div id="lightgallery">
        @foreach (var item in (List<Item>)ViewData["items"])
        {
            <a href="StaticFiles/@item.path" title="@item.tag"><img src="StaticFiles/@item.path" class="img-responsive" style="height: 224px;"></a>
        }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                thumbnail:true
            });
        });
    </script>
}
