@page
@model ListModel
@{
    ViewData["Title"] = "List Images From File";
    var page = (int)(ViewData["page"]);
    var totalitems = (int)(ViewData["totalitems"]);
    var pagesize = (int)(ViewData["pagesize"]);
    var npages = Math.Ceiling(1.0 * totalitems/pagesize);
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        <span class="badge badge-secondary">list</span> @(ViewData["list"]) <br/>
        <span class="badge badge-secondary">root</span> @(ViewData["root"]) <br/>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item @(page<=1?"disabled": "")" href="~/select?list=@(ViewData["list"])">
                    <a class="page-link" href="~/select?list=@(ViewData["list"])&root=@(ViewData["root"])&page=@(page-1)&pagesize=@(pagesize)">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" herf="">@(page) / @(npages) pages, @(totalitems) items, @(pagesize) per page</a>
                </li>
                <li class="page-item @(page>=npages?"disabled": "")">
                    <a class="page-link" href="~/select?list=@(ViewData["list"])&root=@(ViewData["root"])&page=@(page+1)&pagesize=@(pagesize)">Next</a>
                </li>
            </ul>
        </nav>
    </p>

    <div id="lightgallery">
        @foreach (var item in (List<Item>)ViewData["items"])
        {
            <a href="StaticFiles/@item.path" title="@item.tag"><img src="StaticFiles/@item.path" class="img-responsive" style="height: 224px;"></a>
        }
        </div>
    </div>

    <p>
        <span class="badge badge-secondary">list</span> @(ViewData["list"]) <br/>
        <span class="badge badge-secondary">root</span> @(ViewData["root"]) <br/>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item @(page<=1?"disabled": "")" href="~/select?list=@(ViewData["list"])">
                    <a class="page-link" href="~/select?list=@(ViewData["list"])&root=@(ViewData["root"])&page=@(page-1)&pagesize=@(pagesize)">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" herf="">@(page) / @(npages) pages, @(totalitems) items, @(pagesize) per page</a>
                </li>
                <li class="page-item @(page>=npages?"disabled": "")">
                    <a class="page-link" href="~/select?list=@(ViewData["list"])&root=@(ViewData["root"])&page=@(page+1)&pagesize=@(pagesize)">Next</a>
                </li>
            </ul>
        </nav>
    </p>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                thumbnail:true
            });
        });
    </script>
}
